@font-face {
  font-family: 'Heebo';
  src: url(./Font/Heebo-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Heebo-Bold';
  src: url(./Font/Heebo-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Arvo';
  src: url(./Font/Arvo-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Arvo-Bold';
  src: url(./Font/Arvo-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Arvo-Bolditalic';
  src: url(./Font/Arvo-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Arvo-italic';
  src: url(./Font/Arvo-Italic.ttf) format('truetype');
}

body {
  font-family: 'Heebo';
  background-color: #F2F2F2;
}

h1, h2, h3 {
  font-family: 'Arvo';
}

.medium-green {
  background-color : #7AE582;
}

.medium-green-text {
  color : #7AE582;
}

.deep-green {
  background-color : #25A18E;
}

.deep-green-text {
  color : #25A18E;
}

.light-green {
  background-color : #85FDBC;
}

.light-green-text {
  background-color : #85FDBC;
}

.light-green-link {
  color: #85FDBC;
  text-decoration: none;
}

.link {
  font-family: 'Heebo';
  color : #85FDBC;
}

.btn {
  background-color: #25A18E;
  color: #F2F2F2;
}

.btn-light {
  background-color: #85FDBC;
  color: black;
}

.garage-picture {
    background-image: url(./Images/garage.jpg);
    height : 400px;
    background-position: center;
    background-size: cover;
    color:#7AE582;
    font-family: 'Arvo';
}

.schedule {
  font-size: 0.1em;
}

.footer {
  position: absolute;
  width: 100%;
  height: 60px;
}

.main-title {
  font-size: 4em;
  text-shadow: black 0.1em 0.1em 0.2em;
}

@media screen and (max-width: 768px) {
  .scheduleFont {
    font-size: 0.6rem;
  }  
}
