{% extends 'base.html.twig' %}

{% set userRole = auth %}

{% block title %}
    Contact
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2>Nous contacter</h2>
                <form class="container-fluid" method="POST" action="./contact/submit">
                    <div class="row">
                        <div class="form-group col-12 col-md-6 mb-3">
                            <label for="firstname"><h4>Prénom</h4></label>
                            <input type="text" class="form-control" id="firstname" name="firstname" required/>
                        </div>
                        <div class="form-group col-12 col-md-6 mb-3">
                            <label for="lastname"><h4>Nom</h4></label>
                            <input type="text" class="form-control" id="lastname" name="lastname" required/>
                        </div>
                        <div class="form-group col-12 col-md-8 mb-3">
                            <label for="email"><h4>Email</h4></label>
                            <input type="email" class="form-control" id="email" name="email" required/>
                        </div>
                        <div class="form-group col-12 col-md-8 mb-3">
                            <label for="phoneNumber"><h4>Numéro de téléphone</h4></label>
                            <input type="phone" class="form-control" id="phoneNumber" name="phoneNumber" required/>
                        </div>
                        <div class="form-group col-12 col-md-8 mb-3">
                            <label for="subject"><h4>Objet</h4></label>
                            {% if title == 'simple' %}
                                <input type="text" class="form-control" id="subject" name="subject" required/>
                            {% else %}
                                <input type="text" class="form-control" id="subject" name="subject" required placeholder="{{title}}"/>
                            {% endif %}
                        </div>
                        <div class="form-group col-12 col-md-12">
                            <label for="message"><h4>Votre message</h4></label>
                            <textarea class="form-control" id="message" name="message" required rows="4"></textarea>
                        </div>
                        <button type="submit" class="btn mt-3 mb-2 col-3 col-md-2">Envoyer</button>
                    </div>
                </form>
            </div>

            <div class="col-12 col-md-6 p-5 mb-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-10 col-md-6">
                        <h2 class="mb-4">Garage V. Parrot</h2>
                        <div class="d-flex align-items-top mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-geo-alt-fill contactIcons" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                            </svg>
                            <p class="ps-3">5 rue du Garage</br>31 100 TOULOUSE</p>
                        </div> 
                        <div class="d-flex align-items-top mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-telephone-fill contactIcons" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                            </svg>
                            <p class="ps-3">05 05 05 05 05</p>
                        </div>
                        <div class="d-flex align-items-top">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-envelope-fill contactIcons" viewBox="0 0 16 16">
                                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                            </svg>
                            <p class="ps-3">garage@test.com</p>
                        </div>
                    </div>
                </div> 
            </div>

        </div>
    </div>

{% endblock %}

{% block schedule %}
  {% include './_schedule_template.html.twig' with {'schedules': schedules} %}
{% endblock %}