{% extends 'base.html.twig' %}

{% set userRole = auth %}

{% block title %}
Connexion
{% endblock %}

{% block body %}

  <div class='container text-center mt-5'>
    <form class='container col-6 text-center' method='POST' action='./connexion'>
      <div class='row mb-3'>
        <label class='form-label' for='email'>Email</label>
        <input class='form-control' type='email' name='email' id='email' required/>
      </div>
      <div class='mb-3'>
        <label class='form-label' for='password'>Mot de passe</label>
        <input class='form-control' type='password' name='password' id='password' required/>
      </div>
      <button class='btn btn-primary' type='submit'>Me connecter</button>
    </form>
  </div>

{% endblock %}
